html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

a img { border: none; }

body { line-height: 1.5; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }
body h1, body h2, body h3, body h4, body h5, body h6 { font-weight: normal; color: #222222; }
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img { margin: 0; }
body h1 { font-size: 3em; line-height: 1; margin-bottom: 0.50em; }
body h2 { font-size: 2em; margin-bottom: 0.75em; }
body h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1.00em; }
body h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
body h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.50em; }
body h6 { font-size: 1em; font-weight: bold; }
body p { margin: 0 0 1.5em; }
body p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
body p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }
body a { text-decoration: underline; color: #000099; }
body a:visited { color: #000066; }
body a:focus { color: black; }
body a:hover { color: black; }
body a:active { color: #cc0099; }
body blockquote { margin: 1.5em; color: #666666; font-style: italic; }
body strong { font-weight: bold; }
body em { font-style: italic; }
body dfn { font-style: italic; font-weight: bold; }
body sup, body sub { line-height: 0; }
body abbr, body acronym { border-bottom: 1px dotted #666666; }
body address { margin: 0 0 1.5em; font-style: italic; }
body del { color: #666666; }
body pre { margin: 1.5em 0; white-space: pre; }
body pre, body code, body tt { font: 1em "andale mono", "lucida console", monospace; line-height: 1.5; }
body li ul, body li ol { margin: 0; }
body ul, body ol { margin: 0 1.5em 1.5em 0; padding-left: 3.333em; }
body ul { list-style-type: disc; }
body ol { list-style-type: decimal; }
body dl { margin: 0 0 1.5em 0; }
body dl dt { font-weight: bold; }
body dd { margin-left: 1.5em; }
body table { margin-bottom: 1.4em; width: 100%; }
body th { font-weight: bold; }
body thead th { background: #c3d9ff; }
body th, body td, body caption { padding: 4px 10px 4px 5px; }
body tr.even td { background: #e5ecf9; }
body tfoot { font-style: italic; }
body caption { background: #eeeeee; }
body .quiet { color: #666666; }
body .loud { color: #111111; }
body .clear { clear: both; }
body .nowrap { white-space: nowrap; }
body .clearfix { overflow: hidden; *zoom: 1; }
body .small { font-size: 0.8em; margin-bottom: 1.875em; line-height: 1.875em; }
body .large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
body .first { margin-left: 0; padding-left: 0; }
body .last { margin-right: 0; padding-right: 0; }
body .top { margin-top: 0; padding-top: 0; }
body .bottom { margin-bottom: 0; padding-bottom: 0; }
body .showgrid { background: url('../images/grid.png?1298232241'); }
body .error { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
body .error a { color: #8a1f11; }
body .notice { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fff6bf; color: #514721; border-color: #ffd324; }
body .notice a { color: #514721; }
body .success { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #e6efc2; color: #264409; border-color: #c6d880; }
body .success a { color: #264409; }
body .hide { display: none; }
body .highlight { background: yellow; }
body .added { background: #006600; color: white; }
body .removed { background: #990000; color: white; }

body #container { width: 900px; margin: 0 auto; overflow: hidden; *zoom: 1; }
body #sidebar-wrapper { display: inline; float: left; margin-right: 10px; width: 217.5px; }
* html body #sidebar-wrapper { overflow-x: hidden; }
body #content-wrapper { display: inline; float: left; margin-right: 0; width: 672.5px; }
* html body #content-wrapper { overflow-x: hidden; }

body { font-family: 'Cantarell', sans-serif; background-color: #454545; color: #f3f3f3; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }

a.external { padding-right: 14px; background: url("../images/icon-external.png") no-repeat center right transparent; }

h1 { color: #f3f3f3; }

#content-wrapper, #sidebar { background-color: #1B1B1B; }

#content { padding: 10px 10px; }

.center-image { margin: 0 auto 20px; display: block; }

#sidebar { position: absolute; width: 217px; top: 127px; }
#sidebar ul { list-style-type: none; padding: 0 0 0 5px; margin: 10px 0; font-size: 14pt; font-family: 'Aurelis No2 Std','times new roman',serif; }
#sidebar ul a { color: #5EB1FF; text-decoration: none; font-weight: bold; }
#sidebar ul a:hover { color: #98C044; }

#header { font-family: 'Monika', script; width: 100%; overflow: auto; background-color: #98C044; }
#header #header-text { font-size: 28pt; margin: 18px 0 18px 100px; display: block; color: #030303; letter-spacing: 8px; }

#footer { width: 100%; overflow: auto; background-color: black; color: #f6f6f6; }
#footer .copyright-info { float: right; clear: both; margin: 5px 30px 0 0; }
#footer .copyright-info a { color: #f1f1f1; text-decoration: none; }

.section h2, .section h3, .bottom-section h2, .bottom-section h3 { font-family: 'Aurelis No2 Std', 'times new roman', serif; color: #5EB1FF; }
.section h2, .bottom-section h2 { margin-bottom: 9px; font-size: 18pt; }
.section a, .bottom-section a { color: #A3A3A3; text-decoration: none; }
.section a:visited, .bottom-section a:visited { color: #A3A3A3; }
.section a:hover, .bottom-section a:hover { color: #5EB1FF; }
.section p, .bottom-section p { color: #f6f6f6; font-size: 10pt; text-indent: 9px; }

.bottom-section { width: 100%; overflow: auto; clear: both; }
.bottom-section .column-wrapper { width: 50%; float: left; }
.bottom-section .column-wrapper .column-content { padding: 20px; background-color: #98C044; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; margin: 20px; background-color: #1B1B1B; }

.multi-column { width: 100%; }
.multi-column .left-column { width: 30%; float: left; }
.multi-column .right-column { width: 70%; float: left; }

#the-marsh-map, #country-inn-map { height: 300px; width: 100%; margin: 5px auto; }

.gmap_marker { color: black; }
.gmap_marker a, .gmap_marker a:visited, .gmap_marker a:hover { color: #666666; }
